In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

### Exploratory Data Analysis.

In [2]:
df = pd.read_csv('DataSetTwitter.csv', encoding='ISO-8859-1')

df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

> _Let's put names in which columns to the dataframe above_

In [3]:
df.columns = ['sentiment', 'user_id', 'date', 'flag', 'user', 'text']

df.head()

,sentiment,user_id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
# Let us look at the size of the data:
df.shape

(1599999, 6)

> _Let's get the number of elements in our dataset_

In [5]:
df.size

9599994

> _Lets look at data type_

In [6]:
df.dtypes

sentiment     int64
user_id       int64
date         object
flag         object
user         object
text         object
dtype: object

> _Let's see if the dataset is missing any values._

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1599999 non-null  int64
 1   user_id    1599999 non-null  int64
 2   date       1599999 non-null  object
 3   flag       1599999 non-null  object
 4   user       1599999 non-null  object
 5   text       1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

> _There are no missing values. I just need the columns 'sentiment' and 'text' for sentiment analysis._

In [8]:
df = df[['sentiment', 'text']]

df.head()

,sentiment,text
0,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,my whole body feels itchy and like its on fire
3,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,@Kwesidei not the whole crew

> _Letâ€™s check how many instances there are for each class_

In [9]:
df.groupby('sentiment').describe()

             text
            count  unique                        top freq
sentiment
0          799999  790184  isPlayer Has Died! Sorry   210
4          800000  793506              good morning   118

> _As we can see, the number of unique samples is diferent of samples for each class, therefore the dataset has duplicates rows. Let's delete the duplicate rows._

In [10]:
df = df.drop_duplicates()
df.groupby('sentiment').describe()

             text          \
            count  unique
sentiment
0          790184  790184
4          793506  793506

                                                                                               \
                                                                                          top
sentiment
0          has to resit exams over summer...  wishes he worked harder at first year of uni...
4                              happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H


          freq
sentiment
0            1
4            1

In [11]:
#lets just make a quick modification instead of 4 to positive, lets change to 1 - positive
df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})

C:\Users\serju\AppData\Local\Temp\ipykernel_25512\3722131890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})

In [12]:
df.groupby('sentiment').describe()

             text          \
            count  unique
sentiment
0          790184  790184
1          793506  793506

                                                                                               \
                                                                                          top
sentiment
0          has to resit exams over summer...  wishes he worked harder at first year of uni...
1                              happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H


          freq
sentiment
0            1
1            1

> _As we can see below, we have some special characters that we need to remove, like #, @, and url. Let's clean our data_